.AshCat, .NateDog {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    left: 100px;
    position: relative;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

@keyframes bounce{
    0% {
      top: 0px;
    }
    50% {
      top: 249px;
      width: 300px;
      height: 70px;
    }
    100% {
      top: 0px;
    }
}

.AshCat {
    animation-delay: .5s;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}

.AshCat span {
    position: relative;
    top: 45%;
    left: 50%;
}

.NateDog span{
    position: relative;
    top: 45%;
    left: 50%;
}